.EndPageWrapper {
  display: flex;
  width: 100%;
  margin-top: -3rem;
  margin-bottom: 2rem;
  min-height: 30rem;
  max-height: 60vh;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  z-index: 6;
  //   border-top: 2rem solid #3a3a3a3d;
  background-color: #fff;

  // border: 2px solid rgba(128, 128, 128, 0.301);
  border-radius: 20px;
  // box-shadow: 10px 10px 40px #d9d9d9, -10px -10px 40px #ffffff;

  .EndPageHead {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    // border: 1px solid gray ;
    background-color: inherit;
    padding: 1.8rem 5.5rem 1.5rem;
    border-radius: 20px;
    height: 70%;
    box-shadow: 10px 10px 40px #d9d9d97e, -10px -10px 40px #ffffff38;
    justify-self: center;

    h1 {
      margin-bottom: 0.8rem;
      color: #3a3a3a9a;
      padding-bottom: 0.5rem;
      border-bottom: 1px solid #3a3a3a54;
      font-size: 32px;
    }

    p {
      color: #3a3a3a9a;
      line-height: 2rem;
      opacity: 0.8;
      text-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
    }
  }

  .EndPageBody {
    display: flex;
    margin-top: -1.5rem;
    margin-left: -8rem;
    justify-content: center;
    text-align: left;
    flex-direction: column;

    a {
      margin-top: 1.5rem;
      padding: 0.3rem 3rem;
      line-height: 2.5rem;
      color: #3a3a3a;
      box-shadow: 10px 10px 40px #d9d9d9, -10px -10px 40px #ffffff;
      border-radius: 20px;
      border: 1px solid rgba(35, 168, 35, 0.103) !important;
      background: linear-gradient(8deg,
          rgba(67, 224, 146, 0.089) 11%,
          rgba(255, 255, 255, 0.788953) 26%);

      opacity: 0.8;

      a {
        color: #3a3a3a;
      }
    }

    :hover {
      transform: scale(1.05);
      transition: 2s cubic-bezier(0.165, 0.84, 0.44, 1) inherit;
      box-shadow: 5px 5px 20px #d9d9d9, -5px -5px 20px #ffffff;
      border: none;
    }
  }
}

.EndPageFoot {
  display: flex;
  justify-content: center;
  text-align: center;
  align-content: center;
  box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
  height: 0rem;
  width: auto;

  p {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    text-align: center;
    align-self: center;
    color: #3a3a3a;
    opacity: 0.7;

    span {
      margin-left: 1rem;
    }
  }



}

.thisContainer {
  margin-top: 20rem;
  box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff
}

.endPageNew {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  // background-color: red;
  padding: 2rem;
  margin-top: 4rem;
  margin-bottom: -4rem;

  a {

    color: #3a3a3a;

    border-radius: 20px;



    opacity: 0.8;

    a {
      color: #3a3a3a;
    }
  }

  // :hover {
  //   transform: scale(1.05);
  //   transition: 2s cubic-bezier(0.165, 0.84, 0.44, 1) inherit;
  //   box-shadow: 5px 5px 20px #d9d9d9, -5px -5px 20px #ffffff;
  //   border: none;
  // }
  p {
    margin-top: 1rem;
    display: flex;
    justify-content: left;
    text-align: left;
    align-self: center;
    color: #3a3a3a;
    opacity: 0.7;

    span {
      margin-left: 1rem;
    }
  }

  .pageCard {
    padding: 1rem;
    text-align: left;

  }

  .endPageSection1 {
    text-align: left;
  }

  .endPageSection2 {
    // border-left: 1px dashed #80808054 ;
  }

  .endPageSection3 {
    // border-left: 1px dashed #80808054 ;
  }

  .endPageSection4 {
    border-left: 1px dashed #80808054;

    a {
      line-height: 2rem;
    }

    img {
      width: 6rem;
      margin-top: 5rem;
    }
  }
}