.container-AboutUs {
    margin-top: 4.5rem;
    min-height: 100vh;

}

.AboutBottom {
    padding-bottom: 3rem;


}

.AboutHeader {
    display: flex;
    text-align: left;
    align-items: left;
    justify-content: left;
    flex-direction: column;

    h1 {
        font-size: 48px;
        width: 30%;
        border-bottom: 3px solid #3a3a3a31;
        padding: 1rem 0rem;
        margin-left: 2rem;
        // border-radius: 12px;
        margin-bottom: 3rem;
        // box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
    }

    h4 {
        line-height: 3rem;
    }

}
.aboutUsBody{
    box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
    padding: 2rem;
    border-radius: 12px;
    h2{
        margin-bottom: 2rem;
    }
    p{
        font-size: 24px;
        line-height: 2.5rem;
        font-weight: 300 !important;
        font-family: "Maax";
    }
}
.EndPageFoot {
    display: flex;

    justify-content: center;
    text-align: center;
    align-content: center;
    box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
    height: 3rem;
    width: 100%;
    padding-top: 1rem;
    margin-top: 3rem;

    p {
        margin-top: 0rem;
        display: flex;
        justify-content: center;
        text-align: center;
        align-self: center;
        color: #3a3a3a;
        opacity: 0.7;

        span {
            margin-left: 1rem;
        }
    }
}