.NavbarV1_Button__23qgI:hover {
  // background: linear-gradient(-45deg, #a960ee, #90e0ff, #57ff81) !important;
  // color: #3a3a3a;
  color: #fff;
  background-color: rgb(35, 168, 35) !important;
}

.NavbarV1_Button2__19XEW:hover {
  color: #3a3a3a;
  background-color: #fff;
  border: 2px solid rgb(35, 168, 35);
}
