.Clock-Container {
  display: flex;
  margin-top: 4rem;
  width: 80%;

  //   background-color: rebeccapurple;
  justify-content: center;
  padding: 2rem;

  flex-direction: column;

  .Clock-wrap {
    display: flex;
    flex-direction: row;
  }
  .Clock-wrap2 {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    .CLC {
      margin: 0rem 1rem;
    }
  }
  .Clock-days {
    h1 {
      font-size: 100px !important;
    }
    .CLC {
      padding: 1rem;
      display: flex;
      flex-direction: row;
    }
    .Clock-hours {
      font-size: 20px;
    }
  }
  h1 {
    // font-size: 55px !important;
    line-height: 50rem;
  }

  transform: scale(1.3);
}
.Clock-Container2 {
  width: 80%;
  flex-direction: column;
  //   background-color: red;
  display: flex;
  margin-left: 12rem;
  margin-top: 0%;
  padding: 2rem;
}
